openapi: 3.1.0
info:
  version: 2.2.45
  title: beacon.searchspring.io
  x-logo:
    url: ./images/searchspring_logo.svg
    altText: Searchspring Snap
  contact:
    name: Searchspring
servers:
  - url: https://beacon.searchspring.io/beacon/v2
    description: Beacon v2
tags:
  - name: Autocomplete
    description: Autocomplete Module tracking events. Payload data sourced from the [Autocomplete API](https://docs.searchspring.com/reference/get-autocomplete) request parameters and response body.
  - name: Cart
    description: Cart tracking events
  - name: Category
    description: Category results page tracking events. Payload data sourced from the [Search API](https://docs.searchspring.com/reference/get-search) request parameters and response body. **If you are not integrating Searchspring on category pages, omit the usage of these endpoints.**
  - name: Error Logs
    description: Error log events
  - name: Messaging Recommendations
    description: Messaging Recommendations tracking events
  - name: Order
    description: Order tracking events
  - name: Product
    description: Product tracking events
  - name: Recommendations
    description: Personalized recommendations tracking events. Payload data sourced from the Personalized Recommendations API response.
  - name: Search
    description: Search results page tracking events. Payload data sourced from the [Search API](https://docs.searchspring.com/reference/get-search) request parameters and response body.
  - name: Shopper
    description: Shopper tracking events
paths:
  /{siteId}/autocomplete/addtocart:
    post:
      tags:
        - Autocomplete
      summary: addtocart
      description: <i>/beacon/v2/{siteId}/autocomplete/addtocart</i><br><br>Shopper adds a Searchspring autocomplete result to the cart via a `Quick Add to Cart` button in the Autocomplete Module. **If frontend `Quick Add to Cart` is not implemented, omit usage of this endpoint.**
      operationId: autocomplete-addtocart
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Autocomplete Addtocart Schema
              $ref: '#/components/schemas/addtocartSchema'
            examples:
              addtocart example:
                $ref: '#/components/examples/addtocart'
          application/json:
            schema:
              title: Autocomplete Addtocart Schema
              $ref: '#/components/schemas/addtocartSchema'
            examples:
              addtocart example:
                $ref: '#/components/examples/addtocart'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/autocomplete/clickthrough:
    post:
      tags:
        - Autocomplete
      summary: clickthrough
      description: <i>/beacon/v2/{siteId}/autocomplete/clickthrough</i><br><br>Shopper clicks on a Searchspring autocomplete search result rendered in the Autocomplete Module, and is taken to the product detail page (PDP).
      operationId: autocomplete-clickthrough
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Autocomplete Clickthrough Schema
              $ref: '#/components/schemas/clickthroughSchema'
            examples:
              results clickthrough example:
                $ref: '#/components/examples/results-clickthrough'
              banners clickthrough example:
                $ref: '#/components/examples/banners-clickthrough'
          application/json:
            schema:
              title: Autocomplete Clickthrough Schema
              $ref: '#/components/schemas/clickthroughSchema'
            examples:
              results clickthrough example:
                $ref: '#/components/examples/results-clickthrough'
              banners clickthrough example:
                $ref: '#/components/examples/banners-clickthrough'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/autocomplete/impression:
    post:
      tags:
        - Autocomplete
      summary: impression
      description: <i>/beacon/v2/{siteId}/autocomplete/impression</i><br><br>Shopper views the rendered Searchspring autocomplete results in the Autocomplete Module.
      operationId: autocomplete-impression
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Autocomplete Impression Schema
              $ref: '#/components/schemas/impressionSchema'
            examples:
              results and banners impression example:
                $ref: '#/components/examples/impression'
              results impression example:
                $ref: '#/components/examples/results-impression'
              banners impression example:
                $ref: '#/components/examples/banners-impression'
          application/json:
            schema:
              title: Autocomplete Impression Schema
              $ref: '#/components/schemas/impressionSchema'
            examples:
              results and banners impression example:
                $ref: '#/components/examples/impression'
              results impression example:
                $ref: '#/components/examples/results-impression'
              banners impression example:
                $ref: '#/components/examples/banners-impression'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/autocomplete/redirect:
    post:
      tags:
        - Autocomplete
      summary: redirect
      description: <i>/beacon/v2/{siteId}/autocomplete/redirect</i><br><br>Shopper types in the searchbar and an Autocomplete Module with Searchspring autocomplete search results are rendered, but a redirect URL is returned in the Autocomplete API response and the shopper is redirected to the returned redirect URL.
      operationId: autocomplete-redirect
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Autocomplete Redirect Schema
              $ref: '#/components/schemas/redirectSchema'
            examples:
              redirect example:
                $ref: '#/components/examples/redirect'
          application/json:
            schema:
              title: Autocomplete Redirect Schema
              $ref: '#/components/schemas/redirectSchema'
            examples:
              redirect example:
                $ref: '#/components/examples/redirect'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/autocomplete/render:
    post:
      tags:
        - Autocomplete
      summary: render
      description: <i>/beacon/v2/{siteId}/autocomplete/render</i><br><br>Shopper types in the searchbar and an Autocomplete Module with Searchspring autocomplete search results are rendered.
      operationId: autocomplete-render
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Autocomplete Render Schema
              $ref: '#/components/schemas/renderSchema'
            examples:
              render example:
                $ref: '#/components/examples/render'
          application/json:
            schema:
              title: Autocomplete Render Schema
              $ref: '#/components/schemas/renderSchema'
            examples:
              render example:
                $ref: '#/components/examples/render'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/cart/add:
    post:
      tags:
        - Cart
      summary: add
      description: <i>/beacon/v2/{siteId}/cart/add</i><br><br>Shopper adds additional item quantities to an item in the cart via the cart page or a slideout cart.
      operationId: cart-add
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Cart update payload
        required: true
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/cartSchema'
            examples:
              add to cart example:
                $ref: '#/components/examples/add'
          application/json:
            schema:
              $ref: '#/components/schemas/cartSchema'
            examples:
              add to cart example:
                $ref: '#/components/examples/add'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/cart/remove:
    post:
      tags:
        - Cart
      summary: remove
      description: <i>/beacon/v2/{siteId}/cart/remove</i><br><br>Shopper removes an item or reduces an items quantity in the cart via the cart page or a slideout cart.
      operationId: cart-remove
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Cart update payload
        required: true
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/cartSchema'
            examples:
              remove from cart example:
                $ref: '#/components/examples/remove'
          application/json:
            schema:
              $ref: '#/components/schemas/cartSchema'
            examples:
              remove from cart example:
                $ref: '#/components/examples/remove'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/category/addtocart:
    post:
      tags:
        - Category
      summary: addtocart
      description: <i>/beacon/v2/{siteId}/category/addtocart</i><br><br>Shopper lands on a category results page where Searchspring results are rendered, and adds a result to the cart via a `Quick Add to Cart` button. **If frontend `Quick Add to Cart` is not implemented, omit usage of this endpoint.**
      operationId: category-addtocart
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Category Addtocart Schema
              $ref: '#/components/schemas/addtocartSchema'
            examples:
              addtocart example:
                $ref: '#/components/examples/examples-addtocart'
          application/json:
            schema:
              title: Category Addtocart Schema
              $ref: '#/components/schemas/addtocartSchema'
            examples:
              addtocart example:
                $ref: '#/components/examples/examples-addtocart'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/category/clickthrough:
    post:
      tags:
        - Category
      summary: clickthrough
      description: <i>/beacon/v2/{siteId}/category/clickthrough</i><br><br>Shopper lands on a category results page, clicks on a Searchspring result, and will be taken to the product detail page (PDP).
      operationId: category-clickthrough
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Category Clickthrough Schema
              $ref: '#/components/schemas/clickthroughSchema'
            examples:
              results clickthrough example:
                $ref: '#/components/examples/examples-results-clickthrough'
              banners clickthrough example:
                $ref: '#/components/examples/banners-clickthrough'
          application/json:
            schema:
              title: Category Clickthrough Schema
              $ref: '#/components/schemas/clickthroughSchema'
            examples:
              results clickthrough example:
                $ref: '#/components/examples/examples-results-clickthrough'
              banners clickthrough example:
                $ref: '#/components/examples/banners-clickthrough'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/category/impression:
    post:
      tags:
        - Category
      summary: impression
      description: <i>/beacon/v2/{siteId}/category/impression</i><br><br>Shopper lands on a category results page and Searchspring results receive an impression.
      operationId: category-impression
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Category Impression Schema
              $ref: '#/components/schemas/impressionSchema'
            examples:
              results and banners impression example:
                $ref: '#/components/examples/impression'
              results impression example:
                $ref: '#/components/examples/results-impression'
              banners impression example:
                $ref: '#/components/examples/banners-impression'
          application/json:
            schema:
              title: Category Impression Schema
              $ref: '#/components/schemas/impressionSchema'
            examples:
              results and banners impression example:
                $ref: '#/components/examples/impression'
              results impression example:
                $ref: '#/components/examples/results-impression'
              banners impression example:
                $ref: '#/components/examples/banners-impression'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/category/render:
    post:
      tags:
        - Category
      summary: render
      description: <i>/beacon/v2/{siteId}/category/render</i><br><br>Shopper lands on a category results page and Searchspring results are rendered.
      operationId: category-render
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Category Render Schema
              $ref: '#/components/schemas/renderSchema'
            examples:
              render example:
                $ref: '#/components/examples/examples-render'
          application/json:
            schema:
              title: Category Render Schema
              $ref: '#/components/schemas/renderSchema'
            examples:
              render example:
                $ref: '#/components/examples/examples-render'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/email/clickthrough:
    post:
      tags:
        - Messaging Recommendations
      summary: email/clickthrough
      description: <i>/beacon/v2/{siteId}/messaging/email/clickthrough</i><br><br>This event tracks when a shopper clicks through a messaging recommendation section in an email and is navigated to the website.
      operationId: messaging-email-clickthrough
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Messaging recommendations payload
        required: true
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/messaging.schema'
            examples:
              clickthrough example:
                $ref: '#/components/examples/messaging'
          application/json:
            schema:
              $ref: '#/components/schemas/messaging.schema'
            examples:
              clickthrough example:
                $ref: '#/components/examples/messaging'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/email/render:
    post:
      tags:
        - Messaging Recommendations
      summary: email/render
      description: <i>/beacon/v2/{siteId}/messaging/email/render</i><br><br>This event tracks the rendering of a messaging recommendation section in an email.
      operationId: messaging-email-render
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Messaging recommendations payload
        required: true
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/messaging.schema'
            examples:
              render example:
                $ref: '#/components/examples/messaging'
          application/json:
            schema:
              $ref: '#/components/schemas/messaging.schema'
            examples:
              render example:
                $ref: '#/components/examples/messaging'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/log/personalization:
    post:
      tags:
        - Error Logs
      summary: personalization
      description: <i>/beacon/v2/{siteId}/log/personalization</i><br><br>Personalization error log events
      operationId: log-personalization
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Personalization error log
        required: true
        content:
          text/plain:
            schema:
              title: Personalization Log Schema
              $ref: '#/components/schemas/personalization.logSchema'
            examples:
              personalization example:
                $ref: '#/components/examples/personalization'
          application/json:
            schema:
              title: Personalization Log Schema
              $ref: '#/components/schemas/personalization.logSchema'
            examples:
              personalization example:
                $ref: '#/components/examples/personalization'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/log/shopifypixel:
    post:
      tags:
        - Error Logs
      summary: shopifypixel
      description: <i>/beacon/v2/{siteId}/log/shopifypixel</i><br><br>Shopify Pixel Extension error log events
      operationId: log-shopifypixel
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Shopify Pixel extension error log
        required: true
        content:
          text/plain:
            schema:
              title: Shopify Pixel Log Schema
              $ref: '#/components/schemas/logSchema'
            examples:
              shopifypixel example:
                $ref: '#/components/examples/shopifypixel'
          application/json:
            schema:
              title: Shopify Pixel Log Schema
              $ref: '#/components/schemas/logSchema'
            examples:
              shopifypixel example:
                $ref: '#/components/examples/shopifypixel'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/log/snap:
    post:
      tags:
        - Error Logs
      summary: snap
      description: <i>/beacon/v2/{siteId}/log/snap</i><br><br>Snap error log events
      operationId: log-snap
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Snap error log
        required: true
        content:
          text/plain:
            schema:
              title: Snap Log Schema
              $ref: '#/components/schemas/logSchema'
            examples:
              snap example:
                $ref: '#/components/examples/snap'
          application/json:
            schema:
              title: Snap Log Schema
              $ref: '#/components/schemas/logSchema'
            examples:
              snap example:
                $ref: '#/components/examples/snap'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/order/transaction:
    post:
      tags:
        - Order
      summary: order transaction
      description: <i>/beacon/v2/{siteId}/order/transaction</i><br><br>Shopper has completed an order transaction. Tracks order contents.
      operationId: order-transaction
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Order transaction payload
        required: true
        content:
          text/plain:
            schema:
              title: Order Transaction Schema
              type: object
              required:
                - context
                - data
              properties:
                context:
                  $ref: '#/components/schemas/context'
                data:
                  description: Event details
                  type: object
                  required:
                    - orderId
                    - transactionTotal
                    - total
                    - results
                  properties:
                    orderId:
                      description: Unique order ID
                      type: string
                    transactionTotal:
                      description: Total order amount before discounts, taxes, and shipping
                      type: number
                      format: float
                    total:
                      description: Total order amount including discounts, taxes, and shipping
                      type: number
                      format: float
                    vat:
                      type: number
                      description: Value added tax(VAT) rate as a decimal value (e.g. 0.20 for 20%)
                      format: float
                    city:
                      description: Customer's shipping address City
                      type: string
                    state:
                      description: Customer's shipping address State
                      type: string
                    country:
                      description: Customer's shipping address 2-letter Country Code
                      type: string
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/product'
            examples:
              transaction example:
                $ref: '#/components/examples/transaction'
          application/json:
            schema:
              title: Order Transaction Schema
              type: object
              required:
                - context
                - data
              properties:
                context:
                  $ref: '#/components/schemas/context'
                data:
                  description: Event details
                  type: object
                  required:
                    - orderId
                    - transactionTotal
                    - total
                    - results
                  properties:
                    orderId:
                      description: Unique order ID
                      type: string
                    transactionTotal:
                      description: Total order amount before discounts, taxes, and shipping
                      type: number
                      format: float
                    total:
                      description: Total order amount including discounts, taxes, and shipping
                      type: number
                      format: float
                    vat:
                      type: number
                      description: Value added tax(VAT) rate as a decimal value (e.g. 0.20 for 20%)
                      format: float
                    city:
                      description: Customer's shipping address City
                      type: string
                    state:
                      description: Customer's shipping address State
                      type: string
                    country:
                      description: Customer's shipping address 2-letter Country Code
                      type: string
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/product'
            examples:
              transaction example:
                $ref: '#/components/examples/transaction'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/product/pageview:
    post:
      tags:
        - Product
      summary: pageview
      description: <i>/beacon/v2/{siteId}/product/pageview</i><br><br>Shopper has navigated to a product detail page (PDP).
      operationId: product-pageview
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Product page view payload
        required: true
        content:
          text/plain:
            schema:
              title: Product Pageview Schema
              type: object
              required:
                - context
                - data
              properties:
                context:
                  $ref: '#/components/schemas/context'
                data:
                  description: Event details
                  type: object
                  required:
                    - result
                  properties:
                    result:
                      type: object
                      description: Describes a tracked Searchspring result.
                      required:
                        - parentId
                        - uid
                      properties:
                        parentId:
                          $ref: '#/components/schemas/parentId'
                        uid:
                          $ref: '#/components/schemas/uid'
                        sku:
                          $ref: '#/components/schemas/sku'
            examples:
              pageview example:
                $ref: '#/components/examples/view'
          application/json:
            schema:
              title: Product Pageview Schema
              type: object
              required:
                - context
                - data
              properties:
                context:
                  $ref: '#/components/schemas/context'
                data:
                  description: Event details
                  type: object
                  required:
                    - result
                  properties:
                    result:
                      type: object
                      description: Describes a tracked Searchspring result.
                      required:
                        - parentId
                        - uid
                      properties:
                        parentId:
                          $ref: '#/components/schemas/parentId'
                        uid:
                          $ref: '#/components/schemas/uid'
                        sku:
                          $ref: '#/components/schemas/sku'
            examples:
              pageview example:
                $ref: '#/components/examples/view'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/recommendations/addtocart:
    post:
      tags:
        - Recommendations
      summary: addtocart
      description: <i>/beacon/v2/{siteId}/recommendations/addtocart</i><br><br>Shopper adds a Searchspring personalized recommendation result to the cart via a `Quick Add to Cart` button in the rendered product card. **If frontend `Quick Add to Cart` is not implemented, omit usage of this endpoint.**
      operationId: recommendations-addtocart
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Recommendations payload
        required: true
        content:
          text/plain:
            schema:
              title: Recommendations Addtocart Schema
              $ref: '#/components/schemas/recommendations.addtocartSchema'
            examples:
              render example:
                $ref: '#/components/examples/components-examples-addtocart'
          application/json:
            schema:
              title: Recommendations Addtocart Schema
              $ref: '#/components/schemas/recommendations.addtocartSchema'
            examples:
              render example:
                $ref: '#/components/examples/components-examples-addtocart'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/recommendations/clickthrough:
    post:
      tags:
        - Recommendations
      summary: clickthrough
      description: <i>/beacon/v2/{siteId}/recommendations/clickthrough</i><br><br>Shopper clicks on a rendered Searchspring personalized recommended result, and is taken to the product detail page (PDP).
      operationId: recommendations-clickthrough
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Recommendations payload
        required: true
        content:
          text/plain:
            schema:
              title: Recommendations Clickthrough Schema
              $ref: '#/components/schemas/recommendations.clickthroughSchema'
            examples:
              results clickthrough example:
                $ref: '#/components/examples/components-examples-results-clickthrough'
              banners clickthrough example:
                $ref: '#/components/examples/examples-banners-clickthrough'
          application/json:
            schema:
              title: Recommendations Clickthrough Schema
              $ref: '#/components/schemas/recommendations.clickthroughSchema'
            examples:
              results clickthrough example:
                $ref: '#/components/examples/components-examples-results-clickthrough'
              banners clickthrough example:
                $ref: '#/components/examples/examples-banners-clickthrough'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/recommendations/impression:
    post:
      tags:
        - Recommendations
      summary: impression
      description: <i>/beacon/v2/{siteId}/recommendations/impression</i><br><br>Shopper scrolls into view rendered Searchspring personalized recommended results. Results sent ***must*** only be results in the shoppers view at the time of the event.
      operationId: recommendations-impression
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Recommendations payload
        required: true
        content:
          text/plain:
            schema:
              title: Recommendations Impression Schema
              $ref: '#/components/schemas/recommendations.impressionSchema'
            examples:
              results and banners impression example:
                $ref: '#/components/examples/examples-impression'
              results impression example:
                $ref: '#/components/examples/examples-results-impression'
              banners impression example:
                $ref: '#/components/examples/examples-banners-impression'
          application/json:
            schema:
              title: Recommendations Impression Schema
              $ref: '#/components/schemas/recommendations.impressionSchema'
            examples:
              results and banners impression example:
                $ref: '#/components/examples/examples-impression'
              results impression example:
                $ref: '#/components/examples/examples-results-impression'
              banners impression example:
                $ref: '#/components/examples/examples-banners-impression'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/recommendations/render:
    post:
      tags:
        - Recommendations
      summary: render
      description: <i>/beacon/v2/{siteId}/recommendations/render</i><br><br>Shopper navigates to a page where Searchspring personalized recommendations are requested from the [Personalized Recommendations API endpoint](https://docs.searchspring.com/reference/get-recommendations) and rendered on the page.
      operationId: recommendations-render
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Recommendations payload
        required: true
        content:
          text/plain:
            schema:
              title: Recommendations Render Schema
              $ref: '#/components/schemas/recommendations.renderSchema'
            examples:
              render example:
                $ref: '#/components/examples/components-examples-render'
          application/json:
            schema:
              title: Recommendations Render Schema
              $ref: '#/components/schemas/recommendations.renderSchema'
            examples:
              render example:
                $ref: '#/components/examples/components-examples-render'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/search/addtocart:
    post:
      tags:
        - Search
      summary: addtocart
      description: <i>/beacon/v2/{siteId}/search/addtocart</i><br><br>This event should be triggered when a shopper lands on a search results page where Searchspring search results are rendered, and adds a result to the cart via a `Quick Add to Cart` button. **If frontend `Quick Add to Cart` is not implemented, omit usage of this endpoint.**
      operationId: search-addtocart
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Search Addtocart Schema
              $ref: '#/components/schemas/addtocartSchema'
            examples:
              addtocart example:
                $ref: '#/components/examples/examples_components-examples-addtocart'
          application/json:
            schema:
              title: Search Addtocart Schema
              $ref: '#/components/schemas/addtocartSchema'
            examples:
              addtocart example:
                $ref: '#/components/examples/examples_components-examples-addtocart'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/search/clickthrough:
    post:
      tags:
        - Search
      summary: clickthrough
      description: <i>/beacon/v2/{siteId}/search/clickthrough</i><br><br>This event should be triggered when a shopper lands on a search results page, clicks on a Searchspring search result, and will be taken to the product detail page (PDP).
      operationId: search-clickthrough
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Search Clickthrough Schema
              $ref: '#/components/schemas/clickthroughSchema'
            examples:
              results clickthrough example:
                $ref: '#/components/examples/examples-results-clickthrough'
              banners clickthrough example:
                $ref: '#/components/examples/banners-clickthrough'
          application/json:
            schema:
              title: Search Clickthrough Schema
              $ref: '#/components/schemas/clickthroughSchema'
            examples:
              results clickthrough example:
                $ref: '#/components/examples/examples-results-clickthrough'
              banners clickthrough example:
                $ref: '#/components/examples/banners-clickthrough'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/search/impression:
    post:
      tags:
        - Search
      summary: impression
      description: <i>/beacon/v2/{siteId}/search/impression</i><br><br>This event should be triggered when a shopper lands on a search results page and Searchspring search results receive an impression.
      operationId: search-impression
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Search Impression Schema
              $ref: '#/components/schemas/impressionSchema'
            examples:
              results and banners impression example:
                $ref: '#/components/examples/impression'
              results impression example:
                $ref: '#/components/examples/results-impression'
              banners impression example:
                $ref: '#/components/examples/banners-impression'
          application/json:
            schema:
              title: Search Impression Schema
              $ref: '#/components/schemas/impressionSchema'
            examples:
              results and banners impression example:
                $ref: '#/components/examples/impression'
              results impression example:
                $ref: '#/components/examples/results-impression'
              banners impression example:
                $ref: '#/components/examples/banners-impression'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/search/redirect:
    post:
      tags:
        - Search
      summary: redirect
      description: <i>/beacon/v2/{siteId}/search/redirect</i><br><br>This event should be triggered after a shopper lands on a search results page where Searchspring search results are rendered, but a redirect URL is returned in the Search API response and the shopper is redirected to the returned redirect URL.
      operationId: search-redirect
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Search Redirect Schema
              $ref: '#/components/schemas/redirectSchema'
            examples:
              redirect example:
                $ref: '#/components/examples/examples-redirect'
          application/json:
            schema:
              title: Search Redirect Schema
              $ref: '#/components/schemas/redirectSchema'
            examples:
              redirect example:
                $ref: '#/components/examples/examples-redirect'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/search/render:
    post:
      tags:
        - Search
      summary: render
      description: <i>/beacon/v2/{siteId}/search/render</i><br><br>This event should be triggered when a shopper lands on a search results page and Searchspring search results are rendered.
      operationId: search-render
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Search Render Schema
              $ref: '#/components/schemas/renderSchema'
            examples:
              render example:
                $ref: '#/components/examples/examples_components-examples-render'
          application/json:
            schema:
              title: Search Render Schema
              $ref: '#/components/schemas/renderSchema'
            examples:
              render example:
                $ref: '#/components/examples/examples_components-examples-render'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/sms/clickthrough:
    post:
      tags:
        - Messaging Recommendations
      summary: sms/clickthrough
      description: <i>/beacon/v2/{siteId}/messaging/sms/clickthrough</i><br><br>This event tracks when a shopper clicks through a SMS recommendation section in an SMS text and is navigated to the website.
      operationId: messaging-sms-clickthrough
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Messaging recommendations payload
        required: true
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/messaging.schema'
            examples:
              clickthrough example:
                $ref: '#/components/examples/messaging'
          application/json:
            schema:
              $ref: '#/components/schemas/messaging.schema'
            examples:
              clickthrough example:
                $ref: '#/components/examples/messaging'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/sms/render:
    post:
      tags:
        - Messaging Recommendations
      summary: sms/render
      description: <i>/beacon/v2/{siteId}/messaging/sms/render</i><br><br>This event tracks the rendering of an SMS recommendation section in an SMS text.
      operationId: messaging-sms-render
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Messaging recommendations payload
        required: true
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/messaging.schema'
            examples:
              render example:
                $ref: '#/components/examples/messaging'
          application/json:
            schema:
              $ref: '#/components/schemas/messaging.schema'
            examples:
              render example:
                $ref: '#/components/examples/messaging'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/shopper/login:
    post:
      tags:
        - Shopper
      summary: login
      description: <i>/beacon/v2/{siteId}/shopper/login</i><br><br>Shopper successfully logs into their account.
      operationId: login
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              title: Shopper Login Schema
              type: object
              required:
                - context
              properties:
                context:
                  $ref: '#/components/schemas/shopper.context'
            examples:
              shopper login example:
                $ref: '#/components/examples/login'
          application/json:
            schema:
              title: Shopper Login Schema
              type: object
              required:
                - context
              properties:
                context:
                  $ref: '#/components/schemas/shopper.context'
            examples:
              shopper login example:
                $ref: '#/components/examples/login'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          $ref: '#/components/responses/400-response'
        '404':
          $ref: '#/components/responses/404-response'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
components:
  schemas:
    IP:
      description: Shoppers IP address. Accepts IPv4 and IPv6 formats. Recommended this is passed for accuracy. If not, will attempt to default to the "x-forwarded-for" or the Remote Address.
      type: string
    userAgent:
      description: Shoppers UserAgent. Recommended this is passed for accuracy. If not, will attempt to default to "user-agent" request header.
      type: string
    timestamp:
      description: RFC3339 formatted timestamp represents time of event
      type: string
    pageUrl:
      description: Current page `window.location.href` value
      type: string
    userId:
      description: Unique identifier for the customer (usually a UUID)
      type: string
    sessionId:
      description: Unique identifier for the customer's current session - should expire after store visit (usually a UUID)
      type: string
    pageLoadId:
      description: Unique identifier that represents a unique page load. Used to tie multiple events made on a single page together.
      type: string
    shopperId:
      description: Unique identifier for the customer's product personalization - it is typically a user id or email and should be sent if the user is authenticated on the storefront. If the shopper has already logged in this is required.
      type: string
    initiator:
      description: Application identifier that initiated the event
      type: string
    attribution.type:
      type: string
    attribution.id:
      type: string
    attribution:
      type: array
      description: Provides attribution details on product landing pages - it is currently only used for email recommendations
      items:
        type: object
        required:
          - type
          - id
        properties:
          type:
            $ref: '#/components/schemas/attribution.type'
          id:
            $ref: '#/components/schemas/attribution.id'
    currency.code:
      type: string
      description: currency code in [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html#:~:text=The%20first%20two%20letters%20of,and%20the%20D%20for%20dollar.) format
    currency:
      type: object
      description: Active currency type on the site
      properties:
        code:
          $ref: '#/components/schemas/currency.code'
    dev:
      type: boolean
      description: Developer mode flag. If set to `true`, the event data will not populate in reporting
    context:
      type: object
      description: Contextual data about the event
      required:
        - timestamp
        - pageUrl
        - userId
        - sessionId
        - pageLoadId
        - initiator
      properties:
        IP:
          $ref: '#/components/schemas/IP'
        userAgent:
          $ref: '#/components/schemas/userAgent'
        timestamp:
          $ref: '#/components/schemas/timestamp'
        pageUrl:
          $ref: '#/components/schemas/pageUrl'
        userId:
          $ref: '#/components/schemas/userId'
        sessionId:
          $ref: '#/components/schemas/sessionId'
        pageLoadId:
          $ref: '#/components/schemas/pageLoadId'
        shopperId:
          $ref: '#/components/schemas/shopperId'
        initiator:
          $ref: '#/components/schemas/initiator'
        attribution:
          $ref: '#/components/schemas/attribution'
        currency:
          $ref: '#/components/schemas/currency'
        dev:
          $ref: '#/components/schemas/dev'
    responseId:
      type: string
      description: Unique ID returned in each API response
    parentId:
      description: Unique product identifier of the parent product interacted with
      type: string
    uid:
      description: Unique product identifier of the product interacted with
      type: string
    sku:
      description: SKU of the product interacted with
      type: string
    qty:
      description: Quantity of the item
      type: number
      format: integer
    price:
      description: Price of individual item
      type: number
      format: float
    product:
      type: object
      description: Product details
      required:
        - parentId
        - uid
        - qty
        - price
      properties:
        parentId:
          $ref: '#/components/schemas/parentId'
        uid:
          $ref: '#/components/schemas/uid'
        sku:
          $ref: '#/components/schemas/sku'
        qty:
          $ref: '#/components/schemas/qty'
        price:
          $ref: '#/components/schemas/price'
    addtocartSchema:
      type: object
      required:
        - context
        - data
      properties:
        context:
          $ref: '#/components/schemas/context'
        data:
          type: object
          description: Event details
          required:
            - responseId
            - results
          properties:
            responseId:
              $ref: '#/components/schemas/responseId'
            results:
              type: array
              description: Products added to the cart
              items:
                $ref: '#/components/schemas/product'
    error-response-body:
      type: object
      properties:
        success:
          type: boolean
          description: Data sent but not received due to an error
        error:
          type: string
          description: Cause of error
        messages:
          type: array
          description: Cause of failure(s)
          items:
            type: string
    result.product.type:
      description: Defines the type of item tracked.
      type: string
      enum:
        - product
        - banner
    result.product:
      title: Product Result
      type: object
      description: Describes a tracked result.
      required:
        - type
        - parentId
        - uid
      properties:
        type:
          $ref: '#/components/schemas/result.product.type'
        parentId:
          $ref: '#/components/schemas/parentId'
        uid:
          $ref: '#/components/schemas/uid'
        sku:
          $ref: '#/components/schemas/sku'
    result.resultBanner:
      title: Product Result Banner
      type: object
      description: Describes a tracked inline banner.
      required:
        - type
        - uid
      properties:
        type:
          $ref: '#/components/schemas/result.product.type'
        uid:
          $ref: '#/components/schemas/uid'
    clickthrough.results:
      type: array
      description: List of tracked result(s). Can be a result that is either a product or a banner.
      items:
        minimum: 1
        maximum: 1
        oneOf:
          - $ref: '#/components/schemas/result.product'
          - $ref: '#/components/schemas/result.resultBanner'
    clickthrough.banners:
      type: array
      description: List of banners UID's returned in the API response. An empty array will indicate zero banners were returned in the API response.
      items:
        type: object
        minimum: 1
        maximum: 1
        required:
          - uid
        properties:
          uid:
            type: string
            description: Unique identifier of the banner
    clickthroughSchema:
      type: object
      required:
        - context
        - data
      properties:
        context:
          $ref: '#/components/schemas/context'
        data:
          type: object
          description: Event details
          oneOf:
            - title: Clickthrough Results Schema
              required:
                - responseId
                - results
              properties:
                responseId:
                  $ref: '#/components/schemas/responseId'
                results:
                  $ref: '#/components/schemas/clickthrough.results'
            - title: Clickthrough Banners Schema
              required:
                - responseId
                - banners
              properties:
                responseId:
                  $ref: '#/components/schemas/responseId'
                banners:
                  $ref: '#/components/schemas/clickthrough.banners'
    results:
      type: array
      description: List of tracked result(s). An empty array will indicate zero results were returned in the API response.
      items:
        oneOf:
          - $ref: '#/components/schemas/result.product'
          - $ref: '#/components/schemas/result.resultBanner'
    banners:
      type: array
      description: List of banners UID's returned in the API response. An empty array will indicate zero banners were returned in the API response.
      items:
        type: object
        required:
          - uid
        properties:
          uid:
            type: string
            description: Unique identifier of the banner
    impressionSchema:
      type: object
      required:
        - context
        - data
      properties:
        context:
          $ref: '#/components/schemas/context'
        data:
          type: object
          description: Event details
          required:
            - responseId
            - results
            - banners
          properties:
            responseId:
              $ref: '#/components/schemas/responseId'
            results:
              $ref: '#/components/schemas/results'
            banners:
              $ref: '#/components/schemas/banners'
    redirect:
      type: string
      description: Redirect URL returned as `merchandising.redirect` from Search API if a configured redirect is triggered.
    redirectSchema:
      type: object
      required:
        - context
        - data
      properties:
        context:
          $ref: '#/components/schemas/context'
        data:
          type: object
          description: Event details
          required:
            - redirect
            - responseId
          properties:
            redirect:
              $ref: '#/components/schemas/redirect'
            responseId:
              $ref: '#/components/schemas/responseId'
    renderSchema:
      type: object
      required:
        - context
        - data
      properties:
        context:
          $ref: '#/components/schemas/context'
        data:
          type: object
          description: Event details
          required:
            - responseId
          properties:
            responseId:
              $ref: '#/components/schemas/responseId'
    cartSchema:
      type: object
      required:
        - context
        - data
      properties:
        context:
          $ref: '#/components/schemas/context'
        data:
          type: object
          description: Event details
          required:
            - results
            - cart
          properties:
            results:
              type: array
              description: Product(s) that modified the cart
              minimum: 1
              items:
                $ref: '#/components/schemas/product'
            cart:
              type: array
              description: Updated current cart products
              items:
                $ref: '#/components/schemas/product'
    messaging.schema:
      title: Messaging Schema
      type: object
      required:
        - context
        - data
      properties:
        context:
          type: object
          description: Contextual data about the event
          required:
            - userId
            - timestamp
          properties:
            userId:
              description: The unique identifier of the user
              type: string
            timestamp:
              description: RFC3339 formatted timestamp represents time of event
              type: string
            dev:
              description: Developer mode flag. If set to `true`, the event data will not populate in reporting
              type: boolean
        data:
          type: object
          description: Event details
          required:
            - uid
            - tag
          properties:
            uid:
              type: string
              description: The unique identifier of the recommendation profile
            tag:
              type: string
              description: Tag of the messaging recommendation profile the shopper interacted with
    personalization.log.context:
      type: object
      required:
        - timestamp
      properties:
        timestamp:
          $ref: '#/components/schemas/timestamp'
        dev:
          $ref: '#/components/schemas/dev'
    message:
      description: Error message
      type: string
    stack:
      description: Stack trace of the error
      type: string
    details:
      description: Additional optional error details
      type: object
    personalization.logSchema:
      type: object
      required:
        - context
        - data
      properties:
        context:
          $ref: '#/components/schemas/personalization.log.context'
        data:
          type: object
          description: Log data about the event
          properties:
            message:
              $ref: '#/components/schemas/message'
            stack:
              $ref: '#/components/schemas/stack'
            details:
              $ref: '#/components/schemas/details'
    logSchema:
      type: object
      required:
        - context
        - data
      properties:
        context:
          $ref: '#/components/schemas/context'
        data:
          type: object
          description: Log data about the event
          required:
            - message
          properties:
            message:
              $ref: '#/components/schemas/message'
            stack:
              $ref: '#/components/schemas/stack'
            details:
              $ref: '#/components/schemas/details'
    profile.tag:
      type: string
      description: Tag of the personalized recommendation profile the shopper interacted with
    recommendations.addtocartSchema:
      type: object
      required:
        - context
        - data
      properties:
        context:
          $ref: '#/components/schemas/context'
        data:
          type: object
          description: Event details
          required:
            - responseId
            - results
            - tag
          properties:
            responseId:
              $ref: '#/components/schemas/responseId'
            tag:
              $ref: '#/components/schemas/profile.tag'
            results:
              type: array
              description: Products added to the cart
              items:
                $ref: '#/components/schemas/product'
    recommendations.clickthroughSchema:
      type: object
      required:
        - context
        - data
      properties:
        context:
          $ref: '#/components/schemas/context'
        data:
          type: object
          description: Event details
          oneOf:
            - title: Clickthrough Results Schema
              required:
                - tag
                - responseId
                - results
              properties:
                tag:
                  $ref: '#/components/schemas/profile.tag'
                responseId:
                  $ref: '#/components/schemas/responseId'
                results:
                  $ref: '#/components/schemas/clickthrough.results'
            - title: Clickthrough Banners Schema
              required:
                - tag
                - responseId
                - banners
              properties:
                tag:
                  $ref: '#/components/schemas/profile.tag'
                responseId:
                  $ref: '#/components/schemas/responseId'
                banners:
                  $ref: '#/components/schemas/clickthrough.banners'
    recommendations.impressionSchema:
      type: object
      required:
        - context
        - data
      properties:
        context:
          $ref: '#/components/schemas/context'
        data:
          type: object
          description: Event details
          required:
            - tag
            - responseId
            - banners
          properties:
            tag:
              $ref: '#/components/schemas/profile.tag'
            responseId:
              $ref: '#/components/schemas/responseId'
            results:
              $ref: '#/components/schemas/results'
            banners:
              $ref: '#/components/schemas/banners'
    recommendations.renderSchema:
      type: object
      required:
        - context
        - data
      properties:
        context:
          $ref: '#/components/schemas/context'
        data:
          type: object
          description: Event details
          required:
            - responseId
            - tag
          properties:
            tag:
              type: string
              $ref: '#/components/schemas/profile.tag'
            responseId:
              $ref: '#/components/schemas/responseId'
    shopper.context:
      type: object
      description: Contextual data about the shopper event
      required:
        - timestamp
        - pageUrl
        - userId
        - sessionId
        - pageLoadId
        - shopperId
        - initiator
      properties:
        IP:
          $ref: '#/components/schemas/IP'
        userAgent:
          $ref: '#/components/schemas/userAgent'
        timestamp:
          $ref: '#/components/schemas/timestamp'
        pageUrl:
          $ref: '#/components/schemas/pageUrl'
        userId:
          $ref: '#/components/schemas/userId'
        sessionId:
          $ref: '#/components/schemas/sessionId'
        pageLoadId:
          $ref: '#/components/schemas/pageLoadId'
        shopperId:
          $ref: '#/components/schemas/shopperId'
        initiator:
          $ref: '#/components/schemas/initiator'
        attribution:
          $ref: '#/components/schemas/attribution'
        currency:
          $ref: '#/components/schemas/currency'
        dev:
          $ref: '#/components/schemas/dev'
  examples:
    addtocart:
      value:
        context:
          IP: 89.76.6.25
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2006-01-02T15:04:05Z'
          pageUrl: https://bocachica.searchspring.com/collections/shop?q=shirt&view=products
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          responseId: a907d0ad-720a-4666-b046-00c0c28fb78d
          results:
            - uid: '8128331907370'
              parentId: '8128331900000'
              qty: 1
              price: 22
    results-clickthrough:
      value:
        context:
          IP: 89.76.6.25
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2006-01-02T15:04:05Z'
          pageUrl: https://bocachica.searchspring.com/collections/shop?q=shirt&view=products
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          responseId: a907d0ad-720a-4666-b046-00c0c28fb78d
          results:
            - type: product
              parentId: '8128331900000'
              uid: '8128331907370'
    banners-clickthrough:
      value:
        context:
          IP: 89.76.6.25
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2006-01-02T15:04:05Z'
          pageUrl: https://bocachica.searchspring.com/collections/shop?q=shirt&view=products
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          responseId: a907d0ad-720a-4666-b046-00c0c28fb78d
          banners:
            - uid: '8128168755498'
    impression:
      value:
        context:
          IP: 89.76.6.25
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2006-01-02T15:04:05Z'
          pageUrl: https://bocachica.searchspring.com/collections/shop?q=shirt&view=products
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          responseId: a907d0ad-720a-4666-b046-00c0c28fb78d
          results:
            - type: product
              parentId: '8128331911111'
              uid: '8128331907370'
            - type: product
              parentId: '8128331922222'
              uid: '8128021070122'
            - type: product
              parentId: '8128331933333'
              uid: '8127879741738'
            - type: product
              parentId: '8128331944444'
              uid: '8128173736234'
          banners:
            - uid: '8128168755498'
    results-impression:
      value:
        context:
          IP: 89.76.6.25
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2006-01-02T15:04:05Z'
          pageUrl: https://bocachica.searchspring.com/collections/shop?q=shirt&view=products
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          responseId: a907d0ad-720a-4666-b046-00c0c28fb78d
          results:
            - type: product
              parentId: '8128331911111'
              uid: '8128331907370'
            - type: product
              parentId: '8128331922222'
              uid: '8128021070122'
            - type: product
              parentId: '8128331933333'
              uid: '8127879741738'
            - type: product
              parentId: '8128331944444'
              uid: '8128173736234'
          banners: []
    banners-impression:
      value:
        context:
          IP: 89.76.6.25
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2006-01-02T15:04:05Z'
          pageUrl: https://bocachica.searchspring.com/collections/shop?q=shirt&view=products
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          responseId: a907d0ad-720a-4666-b046-00c0c28fb78d
          results: []
          banners:
            - uid: '8128168755498'
    redirect:
      value:
        context:
          IP: 89.76.6.25
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2006-01-02T15:04:05Z'
          pageUrl: https://bocachica.searchspring.com/collections/shop?q=shirt&view=products
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          redirect: https://bocachica.searchspring.com/collections/all-shirts
          responseId: a907d0ad-720a-4666-b046-00c0c28fb78d
    render:
      value:
        context:
          IP: 89.76.6.25
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2006-01-02T15:04:05Z'
          pageUrl: https://bocachica.searchspring.com/collections/shop?q=shirt&view=products
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          responseId: a907d0ad-720a-4666-b046-00c0c28fb78d
    add:
      value:
        context:
          IP: 7309:1fdb:e0d5:7632:7f2a:c269:7519:991b
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2024-06-11T17:47:04.075876Z'
          pageUrl: https://bocachica.searchspring.com/cart
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 41f87850-c33b-4222-952a-f17db729ea31
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          results:
            - parentId: '0987611111'
              uid: '0987654321'
              qty: 1
              price: 39
          cart:
            - parentId: '0987622222'
              uid: '0987654321'
              qty: 1
              price: 39
            - parentId: '0987633333'
              uid: '0987654321'
              qty: 1
              price: 39
    remove:
      value:
        context:
          IP: 7309:1fdb:e0d5:7632:7f2a:c269:7519:991b
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2024-06-11T17:47:04.075876Z'
          pageUrl: https://bocachica.searchspring.com/cart
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 41f87850-c33b-4222-952a-f17db729ea31
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          results:
            - parentId: '0987633333'
              uid: '0987654321'
              qty: 1
              price: 39
          cart:
            - parentId: '0987622222'
              uid: '0987654321'
              qty: 1
              price: 39
    examples-addtocart:
      value:
        context:
          IP: 89.76.6.25
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2006-01-02T15:04:05Z'
          pageUrl: https://bocachica.searchspring.com/collections/shop?q=shirt&view=products
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          responseId: 650f3e4e-1f4b-4c3a-8c3e-0d6f3e4e1f4b
          results:
            - parentId: '8128331911111'
              uid: '8128331907370'
              qty: 1
              price: 22
    examples-results-clickthrough:
      value:
        context:
          IP: 89.76.6.25
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2006-01-02T15:04:05Z'
          pageUrl: https://bocachica.searchspring.com/collections/shop?q=shirt&view=products
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          responseId: a907d0ad-720a-4666-b046-00c0c28fb78d
          results:
            - type: product
              parentId: '8128331911111'
              uid: '8128331907370'
    examples-render:
      value:
        context:
          IP: 89.76.6.25
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2006-01-02T15:04:05Z'
          pageUrl: https://bocachica.searchspring.com/collections/womens
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          responseId: 650f3e4e-1f4b-4c3a-8c3e-0d6f3e4e1f4b
    messaging:
      value:
        context:
          userId: '1234'
          timestamp: '2024-06-11T17:47:04.075876Z'
          dev: true
        data:
          uid: '1234'
          tag: profile tag
    personalization:
      value:
        context:
          timestamp: '2024-06-11T17:47:04.075876Z'
          dev: true
        data:
          message: q8q4eu is calling the rec service, but is not enabled for recommendations
          stack: stack_trace
          details:
            object:
              string: a string
              int: 1
              float: 1.1
            array:
              - '1'
              - '2'
            string: another string
            int: 2
            float: 1.1
    shopifypixel:
      value:
        context:
          IP: 7309:1fdb:e0d5:7632:7f2a:c269:7519:991b
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2024-06-11T17:47:04.075876Z'
          pageUrl: https://www.bocachica.searchspring.com/login
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 41f87850-c33b-4222-952a-f17db729ea31
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          attribution:
            - type: test
              id: '1234567890'
          currency:
            code: USD
        data:
          message: q8q4eu is calling the rec service, but is not enabled for recommendations
          stack: stack_trace
          details:
            object:
              string: a string
              int: 1
              float: 1.1
            array:
              - '1'
              - '2'
            string: another string
            int: 2
            float: 1.1
    snap:
      value:
        context:
          IP: 7309:1fdb:e0d5:7632:7f2a:c269:7519:991b
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2024-06-11T17:47:04.075876Z'
          pageUrl: https://www.bocachica.searchspring.com/login
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 41f87850-c33b-4222-952a-f17db729ea31
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          attribution:
            - type: test
              id: '1234567890'
          currency:
            code: USD
        data:
          message: q8q4eu is calling the rec service, but is not enabled for recommendations
          stack: stack_trace
          details:
            object:
              string: a string
              int: 1
              float: 1.1
            array:
              - '1'
              - '2'
            string: another string
            int: 2
            float: 1.1
    transaction:
      value:
        context:
          IP: 7309:1fdb:e0d5:7632:7f2a:c269:7519:991b
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2024-06-11T17:47:04.075876Z'
          pageUrl: https://bocachica.searchspring.com/order/confirmation
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 41f87850-c33b-4222-952a-f17db729ea31
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          orderId: order1337
          transactionTotal: 75
          total: 100
          vat: 0.2
          city: San Antonio
          country: United States
          state: Texas
          results:
            - parentId: '1234511111'
              uid: '1234567890'
              qty: 1
              price: 22
            - parentId: '1234522222'
              uid: '0987654321'
              qty: 2
              price: 39
    view:
      value:
        context:
          IP: 7309:1fdb:e0d5:7632:7f2a:c269:7519:991b
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2024-06-11T17:47:04.075876Z'
          pageUrl: https://bocachica.searchspring.com/collections/mens/products/adventure-shorts-pitch-black
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 41f87850-c33b-4222-952a-f17db729ea31
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          result:
            parentId: '1234511111'
            uid: '1234567890'
    components-examples-addtocart:
      value:
        context:
          IP: 7309:1fdb:e0d5:7632:7f2a:c269:7519:991b
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2024-06-11T17:47:04.075876Z'
          pageUrl: https://bocachica.searchspring.com/collections/mens/products/adventure-shorts-pitch-black
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          attribution:
            - type: email
              id: '1234567890'
          currency:
            code: USD
        data:
          responseId: 42c2dc64-d203-4d74-8122-515f26afb253
          tag: similar
          results:
            - parentId: '8128331911111'
              uid: '8128331907370'
              qty: 1
              price: 49.99
    components-examples-results-clickthrough:
      value:
        context:
          IP: 89.76.6.25
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2006-01-02T15:04:05Z'
          pageUrl: https://bocachica.searchspring.com/collections/shop?q=shirt&view=products
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          responseId: a907d0ad-720a-4666-b046-00c0c28fb78d
          tag: similar
          results:
            - type: product
              parentId: '8128331911111'
              uid: '8128331907370'
    examples-banners-clickthrough:
      value:
        context:
          IP: 89.76.6.25
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2006-01-02T15:04:05Z'
          pageUrl: https://bocachica.searchspring.com/collections/shop?q=shirt&view=products
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
          shopperId: user123456
          initiator: searchspring/snap/preact/0.49.1
          currency:
            code: USD
        data:
          responseId: a907d0ad-720a-4666-b046-00c0c28fb78d
          tag: similar
          banners:
            - uid: '8128168755498'
    examples-impression:
      value:
        context:
          IP: 7309:1fdb:e0d5:7632:7f2a:c269:7519:991b
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
          timestamp: '2024-06-11T17:47:04.075876Z'
          pageUrl: https://bocachica.searchspring.com/collections/mens/products/adventure-shorts-pitch-black
          userId: 41f87850-65f5-4546-851c-f166109e57b9
          sessionId: 1c311c14-c33b-4222-952a-f17db729ea31
          pageLoadId: 080d179f-0034-4278-8d3c-dfba71c9b897
[...]
