# Version hash: 868ddba6d42de4ebed1fa77b5c89b60dc99f4c6d
openapi: 3.1.0
info:
  version: 2.0.0
  title: beacon.searchspring.io
  x-logo:
    url: ./images/searchspring_logo.svg
    altText: Searchspring Snap
  contact:
    name: Searchspring
servers:
  - url: https://beacon.searchspring.io/beacon/v2
    description: Beacon v2
tags:
  - name: Autocomplete
    description: Autocomplete Module tracking events. Payload data sourced from the [Autocomplete API](https://docs.searchspring.com/reference/get-autocomplete) request parameters and response body.
  - name: Cart
    description: Cart tracking events
  - name: Category
    description: Category results page tracking events. Payload data sourced from the [Search API](https://docs.searchspring.com/reference/get-search) request parameters and response body. **If you are not integrating Searchspring on category pages, omit the usage of these endpoints.**
  - name: Error Logs
    description: Error log events
  - name: Messaging Recommendations
    description: Messaging Recommendations tracking events
  - name: Order
    description: Order tracking events
  - name: Product
    description: Product tracking events
  - name: Recommendations
    description: Personalized recommendations tracking events. Payload data sourced from the Personalized Recommendations API response.
  - name: Search
    description: Search results page tracking events. Payload data sourced from the [Search API](https://docs.searchspring.com/reference/get-search) request parameters and response body.
  - name: Shopper
    description: Shopper tracking events
paths:
  /{siteId}/autocomplete/addtocart:
    post:
      tags:
        - Autocomplete
      summary: addtocart
      description: <i>/beacon/v2/{siteId}/autocomplete/addtocart</i><br><br>Shopper adds a Searchspring autocomplete result to the cart via a `Quick Add to Cart` button in the Autocomplete Module. **If frontend `Quick Add to Cart` is not implemented, omit usage of this endpoint.**
      operationId: autocomplete-addtocart
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/autocomplete.addtocart.schema'
            examples:
              addtocart example:
                $ref: '#/components/examples/autocomplete-results-addtocart-example'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          description: Missing or invalid POST body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-response'
              examples:
                Missing/invalid JSON POST body:
                  $ref: '#/components/examples/missing-invalid-post-body'
                Missing required key-value:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - 'missing required key-value: data.results[0].uid'
                      - 'missing required key-value: data.results[1].uid'
                      - 'missing required key-value: data.results[2].uid'
                      - 'missing required key-value: data.results[3].uid'
                      - 'missing required key-value: data.results[4].uid'
                      - 'missing required key-value: data.results[5].uid'
                      - 'missing required key-value: data.results[6].uid'
                      - 'missing required key-value: data.results[7].uid'
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USD"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                Invalid format:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - 'invalid context.ssTimestamp format: expected RFC3339'
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USD"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": "8128331907370",
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                Invalid data type:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - 'invalid data type passed for key: `"data.results.uid"` (at position 1541)'
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USD"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": 8128331907370,
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                Invalid value received:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - invalid value received for required key `data.sort.direction` - accepts `asc,desc`
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USD"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "ascending"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": "8128331907370",
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                Invalid minimum value passed:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - invalid minimum value passed for key `context.currency.code` - expected length `3`
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "US"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": "8128331907370",
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                Invalid maximum value passed:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - invalid maximum value passed for key `context.currency.code` - expected length `3`
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USDD"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": "8128331907370",
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                If array is defined must not be empty:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - if `data.merchandising.triggeredCampaigns[0].variationId` key-value is defined, `data.merchandising.triggeredCampaigns[0].experimentId` key-value is required
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USD"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": "8128331907370",
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                Unknown field:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - 'request body contains unknown field: "seed"'
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USD"
                              },
                              "seed": [{"sku": "abc123-SM"}]
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": "8128331907370",
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
        '404':
          description: Invalid path
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404-response'
              examples:
                Invalid path or missing siteId:
                  value:
                    success: false
                    error: InvalidPathError
                    messages:
                      - 'invalid endpoint path or missing siteId in path: `/beacon/v2/results`'
                Invalid siteId pattern:
                  value:
                    success: false
                    error: InvalidPathError
                    messages:
                      - 'invalid siteId pattern: received `abc12` - expected pattern `^[a-z0-9]{6}$`'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/autocomplete/clickthrough:
    post:
      tags:
        - Autocomplete
      summary: clickthrough
      description: <i>/beacon/v2/{siteId}/autocomplete/clickthrough</i><br><br>Shopper clicks on a Searchspring autocomplete search result rendered in the Autocomplete Module, and is taken to the product detail page (PDP).
      operationId: autocomplete-clickthrough
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/autocomplete.schema'
            examples:
              clickthrough example:
                $ref: '#/components/examples/autocomplete-results-clickthrough-example'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          description: Missing or invalid POST body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-response'
              examples:
                Missing/invalid JSON POST body:
                  $ref: '#/components/examples/missing-invalid-post-body'
                Missing required key-value:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - 'missing required key-value: data.results[0].uid'
                      - 'missing required key-value: data.results[1].uid'
                      - 'missing required key-value: data.results[2].uid'
                      - 'missing required key-value: data.results[3].uid'
                      - 'missing required key-value: data.results[4].uid'
                      - 'missing required key-value: data.results[5].uid'
                      - 'missing required key-value: data.results[6].uid'
                      - 'missing required key-value: data.results[7].uid'
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USD"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                Invalid format:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - 'invalid context.ssTimestamp format: expected RFC3339'
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USD"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": "8128331907370",
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                Invalid data type:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - 'invalid data type passed for key: `"data.results.uid"` (at position 1541)'
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USD"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": 8128331907370,
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                Invalid value received:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - invalid value received for required key `data.sort.direction` - accepts `asc,desc`
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USD"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "ascending"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": "8128331907370",
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                Invalid minimum value passed:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - invalid minimum value passed for key `context.currency.code` - expected length `3`
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "US"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": "8128331907370",
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                Invalid maximum value passed:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - invalid maximum value passed for key `context.currency.code` - expected length `3`
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USDD"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": "8128331907370",
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                If array is defined must not be empty:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - if `data.merchandising.triggeredCampaigns[0].variationId` key-value is defined, `data.merchandising.triggeredCampaigns[0].experimentId` key-value is required
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USD"
                              }
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": "8128331907370",
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
                Unknown field:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - 'request body contains unknown field: "seed"'
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
                              "ssTimestamp": "2024-06-11T17:47:04.075876Z",
                              "userId": "41f87850-65f5-4546-851c-f166109e57b9",
                              "sessionId": "1c311c14-c33b-4222-952a-f17db729ea31",
                              "pageLoadId": "41f87850-c33b-4222-952a-f17db729ea31",
                              "shopperId": "user123456",
                              "initiator": "searchspring/snap/preact/0.49.1",
                              "currency": {
                                  "code": "USD"
                              },
                              "seed": [{"sku": "abc123-SM"}]
                          },
                          "data": {
                              "domain": "https://www.bocachica.searchspring.com/shop?q=shirts",
                              "q": "shirta",
                              "correctedQuery": "shirts",
                              "bgfilter": [
                                  {
                                      "field": "available",
                                      "value": [
                                          "1", 
                                          "2"
                                      ]
                                  }
                              ],
                              "sort": {
                                  "field": "best_sellers",
                                  "dir": "asc"
                              },
                              "pagination": {
                                  "totalResults": 87,
                                  "page": 1,
                                  "resultsPerPage": 8
                              },
                              "merchandising": {
                                  "personalized": "false",
                                  "triggeredCampaigns": [
                                      {
                                          "id": "1234",
                                          "experimentId": "1234",
                                          "variationId": "1234"
                                      }
                                  ]
                              },
                              "results": [
                                  {
                                      "uid": "8128331907370",
                                      "childUid": "812833190737012345",
                                      "sku": "2310057-MRN-XX-XS/S",
                                      "childSku": "2310057-MRN-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128021070122",
                                      "childUid": "812802107012212345",
                                      "sku": "2130066-STM-XX-XS",
                                      "childSku": "2130066-STM-XX-XS-M"
                                  },
                                  {
                                      "uid": "8127879741738",
                                      "childUid": "812787974173812345",
                                      "sku": "2630014-VFB-XX-24",
                                      "childSku": "2630014-VFB-XX-24-M"
                                  },
                                  {
                                      "uid": "8128173736234",
                                      "childUid": "812817373623412345",
                                      "sku": "1710033W-FDB-XX-28",
                                      "childSku": "1710033W-FDB-XX-28-M"
                                  },
                                  {
                                      "uid": "8128273711402",
                                      "childUid": "812827371140212345",
                                      "sku": "2130105-DNY-XX-XS",
                                      "childSku": "2130105-DNY-XX-XS-M"
                                  },
                                  {
                                      "uid": "8128028737834",
                                      "childUid": "812802873783412345",
                                      "sku": "2310030-MAB-XX-XS/S",
                                      "childSku": "2310030-MAB-XX-XS/S-M"
                                  },
                                  {
                                      "uid": "8128168755498",
                                      "childUid": "812816875549812345",
                                      "sku": "1710033W-CLY-XX-28",
                                      "childSku": "1710033W-CLY-XX-28-M"
                                  },
                                  {
                                      "uid": "8128034177322",
                                      "childUid": "812803417732212345",
                                      "sku": "2130066-PCH-XX-XS",
                                      "childSku": "2130066-PCH-XX-XS-M"
                                  }
                              ]
                          }        
                      }
        '404':
          description: Invalid path
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404-response'
              examples:
                Invalid path or missing siteId:
                  value:
                    success: false
                    error: InvalidPathError
                    messages:
                      - 'invalid endpoint path or missing siteId in path: `/beacon/v2/results`'
                Invalid siteId pattern:
                  value:
                    success: false
                    error: InvalidPathError
                    messages:
                      - 'invalid siteId pattern: received `abc12` - expected pattern `^[a-z0-9]{6}$`'
        '405':
          $ref: '#/components/responses/405-response'
        '413':
          $ref: '#/components/responses/413-response'
        '415':
          $ref: '#/components/responses/415-response'
        '500':
          $ref: '#/components/responses/500-response'
  /{siteId}/autocomplete/impression:
    post:
      tags:
        - Autocomplete
      summary: impression
      description: <i>/beacon/v2/{siteId}/autocomplete/impression</i><br><br>Shopper views the rendered Searchspring autocomplete results in the Autocomplete Module.
      operationId: autocomplete-impression
      security:
        - {}
      parameters:
        - in: path
          name: siteId
          schema:
            type: string
            pattern: '[a-z0-9]{6}'
          required: true
          description: Customer siteId found in the SMC (Searchspring Management Console)
      requestBody:
        description: Results payload
        required: true
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/autocomplete.schema'
            examples:
              impression example:
                $ref: '#/components/examples/autocomplete-results-impression-example'
      responses:
        '200':
          $ref: '#/components/responses/200-response'
        '400':
          description: Missing or invalid POST body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-response'
              examples:
                Missing/invalid JSON POST body:
                  $ref: '#/components/examples/missing-invalid-post-body'
                Missing required key-value:
                  value:
                    success: false
                    error: ValidationError
                    messages:
                      - 'missing required key-value: data.results[0].uid'
                      - 'missing required key-value: data.results[1].uid'
                      - 'missing required key-value: data.results[2].uid'
                      - 'missing required key-value: data.results[3].uid'
                      - 'missing required key-value: data.results[4].uid'
                      - 'missing required key-value: data.results[5].uid'
                      - 'missing required key-value: data.results[6].uid'
                      - 'missing required key-value: data.results[7].uid'
                    data: |-
                      {
                          "context": {
                              "ssIP": "89.76.6.25",
                              "ssUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
[...]
