name: Publish
on:
  push:
    branches: [main]

jobs:
  Publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"
          token: ${{ secrets.MACHINE_PAT }}

      - name: Set Github credentials
        run: |
          git config user.name athos-machine
          git config user.email machine@athoscommerce.com

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'

      - name: Install packages
        run: npm ci
      
      - name: Build
        run: npm run build

      - name: Test
        run: npm run test

      - name: Version
        run: npm run version

      - name: Publish packages to npm
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
