name: Test
on:
  pull_request:
    branches: ['*']

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repositiory
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install packages
        run: npm ci

      - name: Test
        run: npm run test
